*{
	padding: 0;
	margin: 0;
}
header{
	display: block;
	width: 100%;
	height: 60px;
	background-color: #FF734C;
	overflow: hidden;
}
body{
	background-color: #f1f1f1;
}
a{	
	height:60px;
	line-height:60px;
	display: inline-block;
	color:#fff;
	text-decoration: none;
	float:left;
	font-size:20px;
	margin-left: 4.7%;
}
span{
	width: 30%;
	height: 60px;
	font-size:15px;
	line-height: 60px;
	display: block;
	text-align: center;
	color:#fff;
	margin:0 auto;
}
.content{
	width: 100%;
	height:100%;
}
.content-wrap{
	width: 100%;
	background-color: #fff;
	padding-top:6.8%;
	padding-bottom:7%;
}
.content-wrap #img{
	width: 15.7%;
	margin:0 auto;
}
.content .content-wrap img{
	width: 100%;
	height: 100%;
}
.content-wrap p:nth-of-type(1){
	font-size:35px;
	margin-top:2%;
	text-align: center;
	font-family: "PingFang-SC-Medium",Arial,sans-serif;
	color:#333333;
	font-weight: 200;
}
.content-wrap p:nth-of-type(2){
	margin-left:10px;
	font-size: 20px;
	font-family: "PingFang-SC-Medium",Arial,sans-serif;
	color:#666;
	margin-top:20px;
}
